body {
  background-color: #f6f6f6;
  padding: 10px;
  font-family: 'Varela Round';
}


/*=== 4. Main Form ===*/
.login-form-1 {
  min-width: 400px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}


.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}

/*=== 5. Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: black;
  background-color: grey;
}
.login-form-1 .login-button.clicked {
  color: green;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}

.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}

input[type="radio"]{
  margin: 10px 10px 0 10px;
}


button[id="questionButton"]{
  margin-left: 3%;
  width: 12%;
}

h2{
  padding-bottom: 6px;
}

.jumbotron{
  background-color: #588bb6;
  color: white;
  padding-left: 40px;
  margin:0;
}

.navbar {
    /*background-color: #2c3e50;*/
    margin:0; /*add this*/
}

.mycontent-left {
  border-right: 1px dashed #333;
}

.divider-left
{
  border-left: 1px solid #000000;
}

.divider-right
{
  border-right: 1px solid #000000;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

a .well{
color: black;
background-color: #d5e4f9;
text-decoration: none;
}

a .well:hover{
color: white;
background-color: #188ff9;
text-decoration:none;
cursor:pointer;
}

* {
  font-family: "Verdana";
}
